<div class="container">
    <hr>
    <h2>Search</h2>
    <form (submit)="submitForm()" class="row g-3">
      <div class="col-md-7">
        <label for="inputName" class="form-label">Name:</label>
        <input [(ngModel)]="name" name="name" type="text" class="form-control" id="inputName" placeholder="Vacuum cleaner name">
      </div>
      <div class="col-md-6">
        <label for="inputDateFrom" class="form-label">Date from:</label>
        <input [(ngModel)]="dateFrom" type="text" name="dateFrom" class="form-control" id="inputDateFrom" placeholder="yyyy-MM-dd">
        <div class="error-message text-danger" *ngIf="dateFrom != '' && !isDateInFormat(dateFrom, 'yyyy-MM-dd')">Date is not valid!</div>
      </div>
      <div class="col-md-6">
        <label for="inputDateTo" class="form-label">Date to:</label>
        <input [(ngModel)]="dateTo" type="text" name="dateTo" class="form-control" id="inputDateTo" placeholder="yyyy-MM-dd">
        <div class="error-message text-danger" *ngIf="dateTo != '' && !isDateInFormat(dateTo, 'yyyy-MM-dd')">Date is not valid!</div>
      </div>
      <div class="col-12">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input [(ngModel)]="running" type="checkbox" name="running" class="btn-check" id="btncheck1" autocomplete="off">
          <label class="btn btn-outline-dark" for="btncheck1">RUNNING</label>
        
          <input [(ngModel)]="stopped" type="checkbox" name="stopped" class="btn-check" id="btncheck2" autocomplete="off">
          <label class="btn btn-outline-dark" for="btncheck2">STOPPED</label>
        
          <input [(ngModel)]="discharging" type="checkbox" name="discharging" class="btn-check" id="btncheck3" autocomplete="off">
          <label class="btn btn-outline-dark" for="btncheck3">DISCHARGING</label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <hr>
    <h2>Vacuum cleaners</h2>
    <br>
    <table *ngIf="vacuums.length > 0" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacuum of vacuums" [routerLink]="['/singleVacuum/', vacuum.id]">
            <td>{{vacuum.name}}</td>
            <td class="d-flex align-items-center" [ngStyle]="{'color': vacuum.status === 'STOPPED' ? 'red' : 
                (vacuum.status === 'RUNNING' ? 'green' : 
                (vacuum.status === 'DISCHARGING' ? 'blue' : 
                null)) }">{{vacuum.status}} 
                <div *ngIf="vacuum.status === 'RUNNING'" class="spinner-border ms-auto" aria-hidden="true"></div>
                <div *ngIf="vacuum.status === 'DISCHARGING'" class="spinner-border ms-auto" aria-hidden="true"></div>
            </td>
            <td>{{vacuum.created}}</td>
          </tr>
        </tbody>
      </table>
</div>